.variant {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.variant:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.variant p {
  margin: 5px 0;
}
